body {
    background-color: #7674749f;
    text-align: centre;jh
}
#services:fade-in {
  opacity: 10;
  transition: opacity 2s ease-in-out;
}

/* When the content is visible */
#services:fade-in-visible {
  opacity: 1;
}
#container {
    font-family: Arial, Sans-Serif;
    transition: smooth;
    font-size: 10px;
    font-weight: 20000;
    overflow: hidden;
    width: 100%;
    margin: 20px;
    color: green;
}
h1 {
    font-size: 40px;
    text-align: center;
    animation: flow 10s linear infinite;
}
h2 {
    font-size: 15px;
    text-align: center;
    font-style: italic;
}

@keyframes flow {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-120%);
    }
}
#navbar {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

#navbar a {
    float: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

#navbar-toggle {
    display: none;
    cursor: pointer;
    color: white;
}
#home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5px;
}
#about {
    width: 50%;
    border: 1px none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
}
#gymImage {
    border-radius: 10%;
    width: 50%;
    object-fit: contain;
}
#gymImage img{
  border-radius: 10%;
  width: 600px;
  height: 100%;
}
#signUp {
    padding: 10px;
    margin: 50px;
    border: none;
}
#sigup {
    font-family: ariel;
    font-weight: 300;
    font-size: 20px;
    background-color: blue;
    width: 80px;
    height: 30px;
}
#email {
    color: skyblue;
    border: 1px solid #60bfe6;
    background-color: transparent;
    font-weight: 1000;
    height: 30px;
    width: 40%;
}
#stats {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    height: 7%;
    margin: auto;
    padding: 20px;
    width: 70%;
    border-color: white;
    border-style: solid;
    border-radius: 20%;
    border-width: 2px;
    box-shadow: -20px -20px 30px rgba(255,255,255,0.7),20px 20px 20px rgba(0,0,0,0.8);
    back-groundimage: url("images/shopping.webp");
}
#stat {
    margin: 5px;
    width: 20%;
    border-right: solid;
    border-width: 3px;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    border-radius: 10%;
}
#services {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
    padding: 20px;
    text-align: center;
    margin: auto;
}
#service {
    margin: 25px;
    padding: 5px;
    background-color: black;
    text-align: center;
    border-radius: 10%;
  
  box-shadow: -20px -20px 30px rgba(255,255,255,0.7),20px 20px 20px rgba(0,0,0,0.8);
}
#service img{
  border-radius: 20px;
  object-fit: contain;
}
#service:hover{
    transition: 0.1s;
 border: 3px solid #2c2c2c9f;
 background-color: grey;
}
#trainers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 200px;
    gap: 20px;
    padding: 20px;
    text-align: center;
    
}

#trainer {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -20px -20px 30px rgba(255,255,255,0.7),20px 20px 20px rgba(0,0,0,0.8);
}

#trainer img {
    width: 50%;
    border-radius: 10px;
}
#trainer:hover{
  transition: 0.1s;
 border: 3px solid #2c2c2c9f;
 background-color: grey;
}
#trainer h3 {
    margin: 10px 0;
}

#trainer p {
    margin: 10px 0;
}
#memberships {
    display: grid;
    background-image: url("/images/membership.jpg");
    grid-template-columns: repeat(2, 3fr);
    color: black
    ;
}
#contactinfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #222222;
    color: white;
    justify-content: space-around;
    margin: auto;
}
#cont {
    margin: auto;
}
@media screen and (max-width: 600px) {
    #navbar a {
        display: block;
        float: left;
    }
    #navbar-toggle {
        display: block;
    }
    #container {
        width: 600px;
        font-size: 3px;
    }
    #home {
        display: flex;
        justify-content: space-evenly;
    }
    #email {
        width: 200px;
    }
    #stat {
        font-size: 10px;
        width: 40px;
    }
    #services {
        display: flex;
        justify-content: space-evenly;
        width: 400px;
        gap: 2px;
        padding: 2px;
    }
}
